*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
    display: block;

}

ul {
    list-style-type: none;
}

.button {
    padding: 12px 32px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.fa-css3 {
    color: #1DA1F2;
}

.fa-reddit {
    color: #ff4500;
}

.fa-vk {
    color: #5181b8;
}

.fa-linkedin {
    color: #006699;
}


.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-image: url("./image/Ornament.svg");
    background-color: #000000;
    background-size: cover;
    color: white;
    position: relative;
    height: 900px;
}

.header__nav {
    max-width: 1280px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.nav__logo {
    font-size: 24px;
    font-weight: 700;
    flex: 1;
}

.nav__logo span {
    color: #A8FF35;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}


.nav__login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__login .button {
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;
}

.header__banner {
    padding: 100px 0;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__banner h1 {
    line-height: 1.3;
    font-size: 64px;
    font-weight: 700;
}

.header__banner p {
    opacity: 0.5;
}

.header__banner p:nth-last-child(3) {
    padding-top: 40px;
}

.header__banner p:nth-last-child(2) {
    padding-bottom: 50px;
}

.banner__button {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    background-color: #A8FF35;
    position: relative;
}

.banner__button .banner__button__icon {
    color: red;
    padding-left: 8px;
    line-height: 1.4;
}

.banner__button__desc {
    position: absolute;
    width: 100px;
    top: -15px;
    left: 110%;
    color: white;
    transform: rotate(15deg);
    font-size: 12px;
}

.banner__button__desc i {
    color: white;
}

.header__hero-btn {
    position: absolute;
    width: 340px;
    padding: 16px 20px;
    display: inline-block;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 17px #000000
}

.header__hero-btn:nth-child(1) {
    z-index: 4;
    top: 630px;
    left: 186px;
    transform: rotate(-4deg);
}

.header__hero-btn:nth-child(2) {
    z-index: 3;
    top: 670px;
    left: 390px;
    transform: rotate(2deg);
}

.header__hero-btn:nth-child(3) {
    top: 632px;
    left: 675px;
    transform: rotate(-2deg);
    z-index: 2;
}

.header__hero-btn:nth-child(4) {
    top: 674px;
    left: 966px;
    transform: rotate(4deg);
    z-index: 1;
}

.header__hero-btn i {
    font-size: 22px;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-pinterest {
    color: #CA2228;
}

.fa-facebook {
    color: #00ABFF;
}

.fa-dribbble {
    color: #E74D89;
}

.fa-xmark {
    color: #Fff;
}

.newtab {
    background: #A8FF35;
}

.newtab__header {
    width: 850px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 0;
}

.newtab__header h1 {
    font-size: 70px;
    font-weight: 700;
}

.newtab__content {
    position: relative;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newtab__box {
    width: 500px;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.newtab__box-container {
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
    display: inline-block;
    font-size: 24px;
}

.newtab__box-container i {
    color: #A8FF35;
    margin-right: 10px;
}

.newtab__content-1 {
    position: absolute;
    top: 40px;
    left: 20px;
    transform: rotate(6deg);
}

.newtab__content-2 {
    position: absolute;
    top: 40px;
    right: 35px;
}

.partner__long-text {
    padding: 100px 0;
}

.partner__long-text h1 {
    font-size: 54px;
    font-weight: 700;
}

.partner__long-text .text1 {
    opacity: 0.3;
}

.partner__long-text .text2 {
    font-weight: 300;
    opacity: 0.2;
}


.partner__startup h1 {
    font-size: 54px;
    width: fit-content;
    margin: 0 auto;
}

.partner__startup .partner__item {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    padding: 100px 0;

}

.platform {
    background-color: #fafafa;
    padding: 80px 0;
}

.platform .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.platform h1 {
    font-size: 54px;
}

.platform__list {
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.platform__item {
    font-size: 60px;
    background-color: white;
    display: inline-block;
    padding: 0 20px;
    border-radius: 8px;
}

.platform__item:hover {
    background-color: #A8FF35;
}

.platform__feedback img {
    padding-bottom: 40px;
}

.button--black {
    background-color: #000000;
    color: white;
}


.frame7__container h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #fff;
    margin-top: 140px;
}
.frame7__container{
    background-color: #000000;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.frame7__container-checkbox{
    position: relative;
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.frame7__container-checkbox div {
    position: absolute;
    color: #fff;
    left: 342px;
    top: 30px;
    width: 90px;
}
.frame7__container-checkbox div p {
    font-family: 'GoodDog New';
font-style: normal;
transform: rotate(6deg);
color: #fff;
}
.frame7__container-checkbox div i{
    transform: rotate(140deg);
}
.frame7__container-checkbox span {
    position: relative;
    width: 104px;
    height: 52px;
    background-color: #fff;
    border-radius: 30px;

}
.frame7__container-checkbox span::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color:#A8FF35;
}
.frame7__container-checkbox__1{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-right: 20px;
}
.frame7__container-checkbox__2{
    color: #F5F5F5;
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
    opacity: 0.5;
}
.frame7__container-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 90px;
}
.frame7__container-item{
    margin: 0 20px;
    width: 360px;
    height: 640px;  
    background-color: #A8FF35;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.frame7__container-list h4{
    font-weight: 400;
    font-size: 36px;
    margin-left: 30px;
    margin-top: 15px;
}
.frame7__container-list p{
    font-weight: 400;
font-size: 18px;
line-height: 2;
margin-left: 30px;
}
.frame7__container-list div {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 48px 0px 10px 0px;
    margin-left: 30px;
}
.frame7__container-list div h2{
    font-weight: 400;
font-size: 64px;
}
.frame7__container-list div p{
    font-weight: 400;
    font-size: 18px;

}
.frame7__container-item ul li{
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
    margin-left: 30px;
}
.frame7__container-item ul li i {
    padding-right: 10px;
}
.frame7__container-item div p {
    position: absolute;
    left: 53px;
    top: 91px;
}
.frame7__container-item span {
    width: 296px;
    height: 58px;
    background-color: red;
    text-align: center;
    line-height: 58px;
    margin-top: 160px;
    border-radius: 29px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
}
.frame7__container-item:nth-child(1){
    background-color: #fff;
}
.frame7__container-item:nth-child(1) span{
    background-color: #A8FF35;
}
.frame7__container-item:nth-child(2) span{
    background-color: #000000;
    color: #fff;
}
.frame7__container-item:nth-child(3){
    background-color: #fff;
}
.frame7__container-item:nth-child(3) span{
    background-color: #A8FF35;
}

.frame8__content{
    width: 1440px;
    background-color: #A8FF35;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.frame8__content1{
    font-weight: 900;
    font-size: 72px;
    margin-top: 100px;
}
.frame8__content2{
    font-weight: 900;
    font-size: 72px;
    color: #87D322;
}
.frame8__content span {
    width: 180px;
    height: 57px;
    background-color: #000000;
    color: #Fff;
    text-align: center;
    line-height: 57px;
    font-weight: 700;
    font-size: 18px;
    margin: 50px 0 110px 0;
    border-radius: 40px;
}

.footer {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}
.footer__list{
    display: flex;
    padding-right: 30px;
}
.footer h4 {
    font-weight: 700;
    font-size: 24px;
    padding: 20px 0 20px 50px;
}
.footer__item{
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
}