*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: white;
    display: block;

}

ul {
    list-style-type: none;
}

.button {
    padding: 12px 32px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-image: url("./image/Ornament.svg");
    background-color: #000000;
    background-size: cover;
    color: white;
    position: relative;
    height: 900px;
}

.header__nav {
    max-width: 1280px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.nav__logo {
    font-size: 24px;
    font-weight: 700;
    flex: 1;
}

.nav__logo span {
    color: #A8FF35;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}


.nav__login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__login .button {
    margin-left: 40px;
    font-size: 18px;
    font-weight: 400;
}

.header__banner {
    padding: 100px 0;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__banner h1 {
    line-height: 1.3;
    font-size: 64px;
    font-weight: 700;
}

.header__banner p {
    opacity: 0.5;
}

.header__banner p:nth-last-child(3) {
    padding-top: 40px;
}

.header__banner p:nth-last-child(2) {
    padding-bottom: 50px;
}

.banner__button {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    background-color: #A8FF35;
    position: relative;
}

.banner__button .banner__button__icon {
    color: red;
    padding-left: 8px;
    line-height: 1.4;
}

.banner__button__desc {
    position: absolute;
    width: 100px;
    top: -15px;
    left: 110%;
    color: white;
    transform: rotate(15deg);
    font-size: 12px;
}

.banner__button__desc i {
    color: white;
}

.header__hero-btn {
    position: absolute;
    width: 340px;
    padding: 16px 20px;
    display: inline-block;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 17px #000000
}

.header__hero-btn:nth-child(1) {
    z-index: 4;
    top: 630px;
    left: 186px;
    transform: rotate(-4deg);
}

.header__hero-btn:nth-child(2) {
    z-index: 3;
    top: 670px;
    left: 390px;
    transform: rotate(2deg);
}

.header__hero-btn:nth-child(3) {
    top: 632px;
    left: 675px;
    transform: rotate(-2deg);
    z-index: 2;
}

.header__hero-btn:nth-child(4) {
    top: 674px;
    left: 966px;
    transform: rotate(4deg);
    z-index: 1;
}

.header__hero-btn i {
    font-size: 22px;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-pinterest {
    color: #CA2228;
}

.fa-facebook {
    color: #00ABFF;
}

.fa-dribbble {
    color: #E74D89;
}

.fa-xmark {
    color: #Fff;
}